body{
	background-color: #EEE;
}

.container{
	-webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #FFF, #CCC);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #CCC);/*Para Opera*/
    background-image: linear-gradient(top, #FFF, #CCC);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:405px;
    margin: 0 auto;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
	float: center;
}

footer{
	width: 1000px;
	float: bottom;
	text-align: center;
}

header{
	margin-bottom: 20px;
}

.barraDerecha{
	float: right;
}

.boxTitle{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-top-left: 10px;
	-moz-border-radius-top-right: 10px;
	-moz-border-radius-bottom-left: 0px;
	-moz-border-radius-bottom-right: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#111));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #666, #111);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #666, #111);/*Para Opera*/
    background-image: linear-gradient(top, #666, #111);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:1100px;
    margin: 0 auto;
    text-align: center;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
	float: center;
	color: white;
}

#contenido{
	margin-top: 50px;
	margin-left: 80px;
	margin-bottom: 50px;
	width: 1100px;
	float: left;
}

#section1{
	float: left;
}

#section2{
	float: right;
}

.boxTitleContainer{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-top-left: 10px;
	-moz-border-radius-top-right: 10px;
	-moz-border-radius-bottom-left: 0px;
	-moz-border-radius-bottom-right: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#111));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #666, #111);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #666, #111);/*Para Opera*/
    background-image: linear-gradient(top, #666, #111);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:405px;
    margin: 0 auto;
    text-align: center;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
	float: center;
	color: white;
}

header.inner-header{
	-webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #FFF, #CCC);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #CCC);/*Para Opera*/
    background-image: linear-gradient(top, #FFF, #CCC);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:1100px;
    margin: 0 auto;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
	float: center;
}

h1{
	text-align: left;
	margin-left: 20px;
	margin-bottom: 0px;
}

.navButton{
	color: black;
	text-decoration: none;
}

#lastButton{
	border-right-color: black;
    border-right-style: none;
}

hr{
	margin-top: 450px;
	width: 100%;
}

nav{
	-webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#888));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #CCC, #888);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #CCC, #888);/*Para Opera*/
    background-image: linear-gradient(top, #CCC, #888);/*El estandar por defecto*/
    overflow:hidden;
    height: 30px;
    vertical-align: middle;
    padding:0px;
    width:850px;
    margin: 50px auto;
    text-align: center;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.hidden{
	visibility: hidden;
}

nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}

nav ul li{
    /*Bordes redondeados*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    margin-right:0px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #FFF;
    border-right-color: black;
    border-right-style: solid;
    height: 30px;
    line-height: 30px;
}