body{
	background-color: #EEE;
}

.seccionComentarios{
	margin-left: 100px;
	width: 450px;
}

video{
    width:320;
    height:240;
}

caption{
}

.recuadroDenuncia{
	width: 500px;
	margin:20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0.2px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    background-color: green;
}

input#comentario{
	margin-left: 0px;
	padding-left: 0px;
}

.comentarDenuncia{

}

.recuadroComentario{
	margin: 20px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    background-color: blue;
}

.container{
	-webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #FFF, #CCC);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #CCC);/*Para Opera*/
    background-image: linear-gradient(top, #FFF, #CCC);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:405px;
    margin: 0 auto;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
	float: center;
}

footer{
	width: 1000px;
	float: bottom;
	text-align: center;
}

header{
	margin-bottom: 20px;
}

.barraDerecha{
	float: right;
}

.boxTitle{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-top-left: 10px;
	-moz-border-radius-top-right: 10px;
	-moz-border-radius-bottom-left: 0px;
	-moz-border-radius-bottom-right: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#111));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #666, #111);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #666, #111);/*Para Opera*/
    background-image: linear-gradient(top, #666, #111);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:1100px;
    margin: 0 auto;
    text-align: center;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
	float: center;
	color: white;
}

.boxTitleLeft{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-top-left: 10px;
	-moz-border-radius-top-right: 10px;
	-moz-border-radius-bottom-left: 0px;
	-moz-border-radius-bottom-right: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#111));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #666, #111);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #666, #111);/*Para Opera*/
    background-image: linear-gradient(top, #666, #111);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:1100px;
    margin: 0 auto;
    text-align: left;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
	float: center;
	color: white;
}

#contenido{
	margin-top: 50px;
	margin-left: 80px;
	margin-bottom: 50px;
	width: 1100px;
	float: left;
}

#section1{
	float: left;
}

#section2{
	float: right;
}

.labelCompleto{
	float: left;
	width: 75%;
}

.primeraFila{
	float: left;
}

.boxTitleContainer{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-top-left: 10px;
	-moz-border-radius-top-right: 10px;
	-moz-border-radius-bottom-left: 0px;
	-moz-border-radius-bottom-right: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#111));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #666, #111);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #666, #111);/*Para Opera*/
    background-image: linear-gradient(top, #666, #111);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:405px;
    margin: 0 auto;
    text-align: center;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
	float: center;
	color: white;
}

header.inner-header{
	-webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #FFF, #CCC);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #CCC);/*Para Opera*/
    background-image: linear-gradient(top, #FFF, #CCC);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:1100px;
    margin: 0 auto;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
	float: center;
}

.boton{
	float: right;
}

.botonInicioSesion{
	float: right;
}

.botonesDenuncia{
	margin-top: 10px;
	width: 500px;
	margin-bottom: 10px;
}

h1{
	text-align: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.cuartaFila{
	margin-left: 0px;
	display: block;
	float: left;
	width: 200px;
}

.terceraFila{
	margin-left: 50px;
	display: block;
	float: left;
	width: 200px;
}



.siguienteRatio{
    display: block;
     float: left;
     margin-left: -120px;
}

.segundaFilaRatio{
    display: block;
     float: left;
}

.segundaFila {
     display: block;
     float: left;
     width: 270px;
}

label {
	display: block;
	float: left;
    text-align: left;
    width: 200px;
    padding-right: 20px;
}

fieldset#sexoForm{
	width: 500px;
}

.masculinoRatio{
    display: block;
    float: left;
    padding-right: 0px;
    width: 100px;
}

.ratioSex{
	display: block;
	float: left;
}

.femeninoRatio{
    display: block;
    float: left;
    padding-right: 0px;
    width: 100px;
}

div.filaFormularioPrimera{
	margin-top: 5px;
	margin-bottom: 30px;
    clear: left;
 }

div.filaFormulario{
	margin-top: 30px;
	margin-bottom: 30px;
    clear: left;
 }

label#nroDoc{
	float:right;
	margin-right: 100px;
}

.navButton{
	color: black;
	text-decoration: none;
}

#lastButton{
	border-right-color: black;
    border-right-style: none;
}

hr{
	margin-top: 20px;
	width: 100%;
	border-style: dashed;
}

hr#index{
	margin-top: 450px;
	width: 100%;
	border-style: dashed;
}

textarea{
	float: left;
	width: 240px;
	height: 5f0px;
	margin-bottom: 20px;
}

nav{
	-webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#888));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #CCC, #888);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #CCC, #888);/*Para Opera*/
    background-image: linear-gradient(top, #CCC, #888);/*El estandar por defecto*/
    overflow:hidden;
    height: 30px;
    vertical-align: middle;
    padding:0px;
    width:910px;
    margin: 50px auto;
    text-align: center;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.hidden{
	/*visibility: hidden;*/
}

nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}

nav ul li{
    /*Bordes redondeados*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    margin-right:0px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #FFF;
    border-right-color: black;
    border-right-style: solid;
    height: 30px;
    line-height: 30px;
}
td{
	font-style: solid;
	font-weight: normal;
}
div#contenido{
    width: 1100px;
    margin-left: 150px;
}
table#listado-denuncias{
    background-color: lightgrey;
    /*padding: 1em;*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #FFF;
    border-right-color: black;
    border-right-style: solid;
    height: 30px;
    line-height: 30px;
    width: 1100px;
    border-collapse: collapse;
}
.table-header{
	font-weight: bold;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: thick;

    height: 30px;
    line-height: 30px;
}
.table-bottom{
    font-weight: bold;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    text-align: center;
    border-color: black;
    border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
    border-width: thick;

    height: 30px;
    line-height: 30px;
}
.table-bottom-left{
    font-weight: bold;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    text-align: center;
    border-color: black;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: thick;

    height: 30px;
    line-height: 30px;
}

.searchForm{
	float: right;
}

a{
	margin-left: 5px;
	margin-right: 5px;
}

.table-bottom-right{
    font-weight: bold;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    text-align: center;
    border-color: black;
    border-bottom-style: solid;
    border-right-style: solid;
	border-width: thick;

    height: 30px;
    line-height: 30px;
}
.table-left{
    font-weight: bold;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    text-align: center;
    border-color: black;
    border-color: black;
    border-left-style: solid;
    border-right-style: solid;
    border-width: thick;

    height: 30px;
    line-height: 30px;
}
.table-right{
    font-weight: bold;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    text-align: center;
    border-color: black;
    border-color: black;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: thick;

    height: 30px;
    line-height: 30px;
}
.label-radio2 {
    display: block;
    float: left;
    text-align: left;
    width: 50em;
    padding-right: 20px;
}
input#boton-busqueda {
   size: 25px;
   position: absolute;
   /* top: 50%; */
   margin-left: -25px;
   /* margin-top: 17px; */
   z-index: 1;
   color: #4f5b66;
}
